<a href="https://colab.research.google.com/github/SofiaAkhtar/Python-Array-/blob/main/array2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def find_numbers_with_sum(lst, k):
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):
            if lst[i] + lst[j] == k:
                return lst[i], lst[j]
    return None

# Example usage:
numbers = [1, 2, 3, 4]
target_sum = 6
result = find_numbers_with_sum(numbers, target_sum)

if result:
    print(f"Numbers with sum {target_sum}: {result[0]} and {result[1]}")
else:
    print(f"No numbers found with sum {target_sum}")

Numbers with sum 6: 2 and 4

[1,2,3,4] output: [24,12,8,6]

In [ ]:
def find_product(lst):
    lst1 = []
    for i in range(len(lst)):
        product = 1
        for j in range(len(lst)):
            if i != j:
                product *= lst[j]
        lst1.append(product)
    return lst1

In [ ]:
input_list = [1, 2, 3, 4]
output_list = find_product(input_list)
print(output_list)

[24, 12, 8, 6]

In [ ]:
def find_product(lst):
    lst1 = []
    for i in range(len(lst)):
        product = 1
        for j in range(len(lst)):
            if i != j:
                product *= lst[j]
        lst1.append(product)
    return lst1

# Example usage:
input_list = [1, 2, 3, 4]
output_list = find_product(input_list)
print(output_list)

In [ ]:
def product_except_self(nums):
    n = len(nums)

    # Initialize two arrays to store products from left and right
    left_products = [1] * n
    right_products = [1] * n

    # Calculate products of elements to the left of each element
    left_product = 1
    for i in range(1, n):
        left_product *= nums[i - 1]
        left_products[i] = left_product

    # Calculate products of elements to the right of each element
    right_product = 1
    for i in range(n - 2, -1, -1):
        right_product *= nums[i + 1]
        right_products[i] = right_product

    # Calculate the final result by multiplying left and right products
    result = [left_products[i] * right_products[i] for i in range(n)]

    return result

# Example usage:
input_list = [1, 2, 3, 4]
output_list = product_except_self(input_list)
print(output_list)

[24, 12, 8, 6]

min in a list

In [ ]:
def min(lst):
    for i in range (len(lst)):
        min = lst[i]
        for j in range(len(lst)):
            if lst[j] < min:
                min = lst[j]
    return min

In [ ]:
min([1,2,3,0,-1])

-1

first unique element in a list

In [ ]:
def unique(lst):
    for i in range(len(lst)):
        uni = lst[i]
        is_unique = True
        for j in range(len(lst)):
            if uni == lst[j] and i != j:
                is_unique = False
                break
        if is_unique:
            return uni
    return -1

In [ ]:
unique([4,4,1,1,2,3,4,6,7,7,3])

2

In [ ]:
def unique(lst):
    for i in range(len(lst)):
        uni = lst[i]
        is_unique = True
        for j in range(len(lst)):
            if i != j and uni == lst[j]:
                is_unique = False
                break

        if is_unique:
            return uni

    return -1

# Example usage:
input_list = [2, 3, 4, 2, 5, 6, 3, 7]
result = unique(input_list)
print(result)

2nd largest in a list

In [ ]:
def second_largest(lst):
    lst.sort()
    second = len(lst) - 2
    return lst[second]

In [ ]:
second_largest([3,1,6,7,8,12,10,3,9])

10

right rotate

In [ ]:
def right_rotate(lst,k):
    lst1 = []
    lst2 = []
    x = len(lst)
    lst2 = lst[x-k:]
    lst1 = lst[:x-k]
    return lst2 + lst1

In [ ]:
right_rotate([56,89,90,43,67,44],2)

[67, 44, 56, 89, 90, 43]

In [ ]:
def right_rotate(lst, k):
    lst1 = []
    lst2 = []
    x = lst.index(k)
    lst1 = lst[x+1:]  # Corrected syntax
    lst2 = lst[:x]
    lst1.reverse()
    return lst1 + lst2

# Example usage:
input_list = [1, 2, 3, 4, 5]
k_element = 3
result = right_rotate(input_list, k_element)
print(result)

[5, 4, 1, 2]

negatives one side positives one side

In [ ]:
def rearrange(lst):
    lst1=[]
    lst2=[]
    for i in range(len(lst)):
        if lst[i] < 1:
            lst1.append(lst[i])
        else:
            lst2.append(lst[i])
    return lst1 + lst2

In [ ]:
rearrange([1,2,3,4,-5,-4,0,2])

[-5, -4, 0, 1, 2, 3, 4, 2]

In [ ]:
def min_max(lst):
    lst1=[]
    for i in range (len(lst)):
        if i%2 ==0:
            lst1.append(lst[len(lst)-i-1])
        else:
            lst1.append(lst[i])
    return lst1

In [ ]:
min_max([1,2,3,4,5])

[5, 2, 3, 4, 1]

In [ ]:
def min_max(lst):
    lst1 = []
    n = len(lst)

    for i in range(n):
        if i % 2 == 0:
            lst1.append(lst[(n - i // 2) - 1])
        else:
            lst1.append(lst[i // 2])

    return lst1

# Example usage:
input_list = [1, 2, 3, 4, 5]
result = min_max(input_list)
print(result)

[5, 1, 4, 2, 3]

In [ ]:
def min_max(lst):
    lst1 = []
    n = len(lst)

    for i in range(n):
        if i % 2 == 0:
            lst1.append(lst[n - i - 1])
        else:
            lst1.append(lst[i])

    return lst1

# Example usage:
input_list = [1, 2, 3, 4, 5]
result = min_max(input_list)
print(result)

[5, 2, 3, 4, 1]

In [ ]:

def max_sublist_sum(lst):
    if not lst:
        return 0

    max_sum = current_sum = lst[0]

    for num in lst[1:]:
        current_sum = max(num, current_sum + num)
        max_sum = max(max_sum, current_sum)

    return max_sum

# Example usage:
input_list = [-2, 1, -3, 4, -1, 2, 1, -5, 4]
result = max_sublist_sum(input_list)
print(result)

6